{% extends 'base.html' %}
{% load static %}

{% block title %} {{ subject.matkul }} {% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block main_body %}
<div class="main_content">
    <section class="container-fluid d-flex flex-wrap align-content-center ">
        <div class="section-title m-auto text-center p-5">
            <h1>{{ subject.matkul }}</h1>
        </div>
        <table class="table table-bordered mx-5" style="width:90vw">
            <tbody>
                <tr>
                    <td> Dosen </td>
                    <td> {{ subject.dosen }} </td>
                </tr>

                <tr>
                    <td> Jumlah SKS </td>
                    <td> {{ subject.sks }} </td>
                </tr>

                <tr>
                    <td> Semester </td>
                    <td> {{ subject.semester }} </td>
                </tr>

                <tr>
                    <td> Kelas </td>
                    <td> {{ subject.kelas }} </td>
                </tr>

                <tr>
                    <td> Keterangan </td>
                    <td> {{ subject.deskripsi }} </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary d-flex m-auto click">
            <a href="{% url 'homepage:jadwal' %}" class="text-white">
                Kembali
            </a>
        </button>
    </section>
</div>
{% endblock %}