{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block main_body %}
<div class="main_content">
    <div class="section-title mx-auto text-center p-5">
        <h1>Selamat datang!</h1>
    </div>
</div>
{% endblock %}