{% extends 'base.html' %}
{% load static %}

{% block title %} Daftar Jadwal {% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block main_body %}
<div class="main_content">
    <section class="container-fluid d-flex flex-wrap align-content-center mb-5">
        <div class="section-title mx-auto text-center p-5">
            <h1>SUBJECT LIST</h1>
        </div>
        <table class="table table-bordered mx-5 mb-5" style="width:90vw">
            <thead class="thead-light text-center">
                <tr>
                    <th>Mata Kuliah</th>
                    <th>Dosen</th>
                    <th>Jumlah SKS</th>
                    <th>Hapus</th>
                </tr>
            </thead>
            <tbody>
                {% for x in subject_list %}
                <tr>
                    <td> <a href="/detail/{{ x.id }}">{{ x.matkul }} </a> </td>
                    <td> {{ x.dosen }} </td>
                    <td class="text-center"> {{ x.sks }} </td>
                    <td class="text-center">
                        <form method="POST" action="{% url 'homepage:jadwal' %}">
                            {% csrf_token %}
                            <input name="id" value="{{x.id}}" type="hidden">
                            <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2"
                                style="font-size: 0.8rem;">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-primary d-flex m-auto click">
            <a href="{% url 'homepage:tambah' %}" class="text-white">
                Tambah jadwal baru
            </a>
        </button>
    </section>
</div>

{% endblock %}