<div class="wrapper">
  <div class="sidebar">
    <h3>Jadwalku</h3>
    <ul>
      <li>
        <a href="{% url 'homepage:index' %}"><i class="fas fa-home"></i>Home</a>
      </li>
      <li>
        <a href="{% url 'homepage:tambah' %}"><i class="fas fa-user"></i>Tambah Mata Kuliah</a>
      </li>

      <li>
        <a href="{% url 'homepage:jadwal' %}"><i class="fas fa-project-diagram"></i>Mata Kuliah Terdaftar</a>
      </li>
    </ul>
  </div>
</div>