{% extends 'base.html' %}
{% load static %}

{% block title %} Tambah Jadwal {% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block main_body %}
<div class="main_content">
    <section class="container-fluid d-flex flex-wrap align-content-center ">
        {% if submitted %}
        <div class="success p-5 col-12 text-center">
            Berhasil menambah mata kuliah.
        </div>

        <button class="btn btn-primary d-flex m-auto click">
            <a href="{% url 'homepage:tambah' %}" class="text-white">
                Kembali
            </a>
        </button>
        {% else %}
        <div class="section-title mx-auto text-center p-5">
            <h1>ADD SUBJECT</h1>
        </div>

        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table class="table mx-5" style="width:90vw">
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
                </tr>
            </table>
        </form>
    </section>
</div>
{% endif %}

{% endblock %}